<$mt:include name="include/header.tmpl"$>

 <h3><__trans phrase='tmpl.change_itempath'></h3>
　<__trans phrase='tmpl.complete change'>
<div style="margin:20px;"></div>
 <__trans phrase='tmpl.rebuild if entries are changed.'> 

<div style="margin:20px;"></div>
<a href="<mt:var name="script_url">?__mode=list&_type=asset&blog_id=<mt:var name="blog_id"\>"><__trans phrase="tmpl.back_to_item_list"></a>


 
<$mt:include name="include/footer.tmpl"$>


