<$mt:include name="include/header.tmpl"$>
<script type="text/javascript">
function validate(f) {
    if (!is_valid_path(f.new_path.value)){
        alert(trans('[_1] contains a character that is invalid when used in a directory name: [_2]', '<__trans phrase="Upload Destination" escape="js">', f.new_path.value));
        return false;
    }
}

function is_valid_path(path_){
    var str = path_.replace(/[ "%<>\[\\\]\^`{\|}~$\+,\/:;=\?@]/g, "");
    str = encodeURIComponent(str);
    if (str.indexOf('%') != -1) {
        return false;
    }
    if (str.match(/\.\./)) {
        return false;
    }
    return true;
}

</script>

 
 <div><__trans phrase='tmpl.number of target items max [_1]' params='<$mt:var name="max_converts"$>'></div>
 <div><$mt:getVar name="assets_count" $></div>

<div style="margin:20px;"></div>

 <div><__trans phrase='tmpl.selected item path common part'></div>
 <div><$mt:getVar name="old_path" $> </div>

<div style="margin:20px;"></div>

 <div><__trans phrase='tmpl.new path common part'></div>
<form action="<mt:var name="script_url">?__mode=asset_manager&blog_id=<mt:var name="blog_id"\>" method="post" onsubmit="return validate(this)">

<input type="hidden" name="asset_ids" value="<mt:var name="asset_ids"/>" />
<input type="hidden" name="old_path" value="<mt:var name="old_path"/>" />
<input type="text" name="new_path" value="<mt:var name="new_path"/>" />
<br />
<input type="checkbox" name="flag_change_entries" value="1" <mt:if name="flag_change_entries">checked=checked</mt:if> /> <__trans phrase='tmpl.change entries text, text more, excerpt.'> 
<br />
<input type="checkbox" name="flag_change_assets" value="1" <mt:if name="flag_change_assets">checked=checked</mt:if> /> <__trans phrase='tmpl.change url in item (html file)'>  
<br />
<br />
<input type="checkbox" name="flag_test" value="1" <mt:if name="flag_test">checked=checked</mt:if> /> <__trans phrase='tmpl.test commit'>
<br />  


<div style="margin:20px;"></div>
<mt:if name="validate_message">
<div style="color: #ff3f3f"><b><mt:var name="validate_message"></b></div>
</mt:if>
<mt:if name="test_result">
<div style="color: #ff3f3f"><b><__trans phrase='tmpl.testOK'></b></div>
</mt:if>
<input type="submit" name="commit" value="<__trans phrase='tmpl.change'>" />
</form>

<div style="margin:20px;"></div>

<__trans phrase='tmpl.explain %r'>

<$mt:include name="include/footer.tmpl"$>

