<$mt:include name="include/header.tmpl"$>

 <mt:var name="message">
 
<div style="margin:20px;"></div>
<a href="<mt:var name="script_url">?__mode=list&_type=asset&blog_id=<mt:var name="blog_id"\>">アイテム一覧に戻る</a>

<$mt:include name="include/footer.tmpl"$>
